<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<!-- <link rel="stylesheet" href="__frontcss__/index.css" /> -->
	<title>
	<block name='title'>base
	</block>
	</title>
	<js href="/Public/js/test.js" />
	<css href='css' file="/Public/front/css/index.css" />
</head>
<body>
<header>
<include file='Common/nav' />
</header>
<aside>
<block name='aside'>
aside

</block>
</aside>
<article>
<block name='content'>
content

</block>
</article>
<footer>
<block name='footer'>
footer

</block>
</footer>
</body>
</html>