@charset="utf-8";
.hoverbox
{
	cursor: default;
	list-style: none;
	width:100%;
	margin:0px;
	padding:0px;

}

.hoverbox a
{
	cursor: default;
}

.hoverbox a .preview
{
	display: none;
}

.hoverbox a:hover .preview
{
	display: block;
	position: absolute;
	top: -226px;
	left: -390px;
	z-index: 1;
}

.hoverbox img
{
	vertical-align: top;
	width:80px;
}

.hoverbox li
{
	display: inline;
	float: left;
	margin:2px;
	padding:2px;
	position: relative;
}

.hoverbox .preview
{
	border-color: #000;
	width: 380px;
	height: 280px;

}

