/* CSS Document */

.pages a,
  .pages span {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 1px;
    border: 1px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

.pages a,
.pages li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #990033;
}
.pages li {
  margin-right: 50px;
}

.pages a.first,
.pages a.prev,
.pages a.next,
.pages a.end {
  margin: 0;
}

.pages a:hover {
  border-color: #990033;
}

.pages span.current {
  background: #990033;
  color: #FFF;
  font-weight: 700;
  border-color: #990033;
}