@charset "utf-8";
/* CSS Document */

#share{width:100%;
       height:auto;}
#share a{width: 40px;height: 40px;padding: 0;margin: 6px;}
#share a.bds_weixin{background: url(images/微信.png) no-repeat;}
#share a.bds_tsina{background: url(images/微博.png) no-repeat;}
#share a.bds_qzone{background: url(images/QQ空间.png) no-repeat;}
#share a.bds_renren{background: url(images/人人网.png) no-repeat;}
#share a.bds_more{background: url(images/更多.png) no-repeat;}