<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<literal>
*{
    font-family:"微软雅黑";
	font-size:18px;
}
body {
	padding-left: 15px;
}
a{text-decoration:none;
  color:black;
  }
a:hover{color:red;}
p{
  text-align:center;

}
p.pp{
	height:30px;
	color:rgb(200,200,200);

}
p.pp a{
	height:30px;
	color:rgb(150,150,150);

}
p.pp a:hover{
	height:30px;
	color:red;

}
p.pp img{height:20px;}
p.mark{font-weight:900;
       font-family:"微软雅黑";

}
</literal>
</style>
</head>

<body>
<p class="mark">新闻</p>
<p class="pp"><a href="__URL__news" target="mainFrame"><img align="center" src="__IMAGES__/back/icn_categories.png">&nbsp;头条动态</a></p>
<p class="mark">服务</p>
<p class="pp"><a href="../service/service.php" target="mainFrame"><img align="center" src="__IMAGES__/back/icn_categories.png">&nbsp;选购保养</a></p>
<p class="mark">商品</p>
<p class="pp"><a href="../pro/pro.php" target="mainFrame"><img align="center" src="__IMAGES__/back/icn_categories.png">&nbsp;商品管理</a></p>
<p class="pp"><a href="javascript:void(0)" target="mainFrame"><img align="center" src="__IMAGES__/back/icn_categories.png">&nbsp;订单管理</a></p>
<p class="mark">会员</p>
<p class="pp"><a href="../user/showuser.php" target="mainFrame"><img align="center" src="__IMAGES__/back/icn_categories.png">&nbsp;会员管理</a></p>
<p class="pp"><a href="../leavemessage/showleaveword.php" target="mainFrame"><img align="top" src="__IMAGES__/back/icn_categories.png">&nbsp;留言管理</a></p>
<p class="pp"><a href="../index.php" target="_blank"><img align="center" src="__IMAGES__/back/icn_jump_forward.png">&nbsp;转到首页</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
