<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
<literal>
body {
	background-color: #808080;
	font-family:"黑体";
	font-size:45px;
	color:white;
}

img#logimg{
	border:0px;
	position:absolute;
	top:20px;
	left:50px;
}
span#spantit{
    position:absolute;
	top:40px;
	right:50px;
}
</literal>
</style>
</head>

<body>
<a href="../index.php" target="_blank"><img id="logimg" src="__IMAGES__/comm/fyxaa.png" width="250px" height="75px" align="middle" /></a>
<span id="spantit">后台管理系统</span>

</body>
</html>
