<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息中心</title>
<style type="text/css">
<literal>


#div_main{
      width:900px;
      height:auto;
      margin:15px auto;
      font-size: 25px;  
      font-family: "微软雅黑"; 
}


</literal>

</style>
<link rel="stylesheet" type="text/css" href="__CSS__/topnews_qh.css">
</head>

<body>
<include file="Common/top" />

<div id="div_main">
<table width="100%" border="0" align="left" cellpadding="20" cellspacing="20">
<volist name='hmzs' id='data'>
    <tr>
      <td align="center"><img width="80px" height="60px" src="__IMAGES__/service/{$data.pic}" /></td>
      <td style="padding:10px;"><a href="/byinfo/id/{$data.serid}.html">{$data.title}</a></td>
    </tr>
</volist>
</table>
</div>
</body>
</html>
