<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专题</title>
<link rel="stylesheet" type="text/css" href="__CSS__/topic.css">
<style type="text/css">
<literal>
/*  分享   */
#share{width:100%;
       height:auto;}
#share a{width: 40px;height: 40px;padding: 0;margin: 6px;}
#share a.bds_weixin{background: url(__IMAGES__/comm/微信.png) no-repeat;}
#share a.bds_tsina{background: url(__IMAGES__/comm/微博.png) no-repeat;}
#share a.bds_qzone{background: url(__IMAGES__/comm/QQ空间.png) no-repeat;}
#share a.bds_renren{background: url(__IMAGES__/comm/人人网.png) no-repeat;}
#share a.bds_more{background: url(__IMAGES__/comm/更多.png) no-repeat;}
</literal>
</style>
</head>

<body>
<include file='Common/top' />
<div id="div_main">

<!-- <div id="div_l"> -->
<p id="curpos"><img src="__IMAGES__/comm/currentpos.png" width="25px" height="25px" align="top" />当前位置：专题</p>


<h1>福逸轩红木走进贵州山区慰问留守儿童</h1>
<p style="width: 100%;height: 40px;line-height: 40px;text-align: center;">
	发表时间：2017-6-10 &nbsp;&nbsp; 作者：admin
</p>
<div id="share">
<div class="bdsharebuttonbox">  
<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> 
<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>  
<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>  
<!-- <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>   -->
<!-- <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>  -->  
<a href="#" class="bds_more" data-cmd="more"></a>     
</div>  

</div>
<script type="text/javascript" src="__JS__/share.js"></script> 
<hr />
<p id="p_lead" style="margin-top: 10px;">
在"六一"儿童节来临之际，深圳福逸轩红木家具走进贵州省遵义市务川县都濡镇桐木村，探望留守儿童，为他们带去了一份份包含着关受的节日礼物：书包、文具盒以及学习用具。怀抱着这些崭新精美的节日礼物，这些天真纯朴的孩子表现出爱不释手，脸上绽放着动人的笑容。
</p>
<div id="content">
<p style="padding: 5px 20px;">桐木村位于都濡镇的南面，距务川县城12公里。同中国的许多村庄一样，青壮年劳动力都常年在外面务工，村里只有老人和青少年儿童在家留守。该村小学共有六七十名学生，由于为村级小

学，教学环境和基础设施都不尽完善，一些孩子甚至都没有一个像样的书包，穿的衣服鞋子都很破旧。当福逸轩公司得知这一情况后，专门联系到该学校的负责人，决定购买一批

新书包和文具送给孩子们。不久前，这些带着关爱的节日礼物经过福逸轩员工的手中送到了每一个孩子的手中，看着那一张张开心的脸，令每一个福逸轩的员工都感到无比欣慰。
</p>
</div>
<p class="p_img"><a href="new1_2.php"><img src="__IMAGES__/topic/2.jpg" width="650px" height="auto"></a><b>现场为孩子们派发礼物。</b>
</p>
<p style="width:100%;height: 20px;clear: both;"></p>
<p id="pageLink">
  <a href="javascript:void(0)" id="active"><b>1</b></a>
  <a href="/new1_2.html"><b>2</b></a>
  <a href="/new1_3.html"><b>3</b></a>
</p>
</div>
<include file='Common/bot' />
</body>
</html>