<aside id="sidebar" class="column">
    <h3>活动管理</h3>
	<ul class="toggle">
		<li class="icn_new_article"><a href="/playadd.html">添加活动</a></li>
		<li class="icn_categories"><a href="/playlist.html">管理活动</a></li>    
	</ul>
    <h3>活动用户</h3>
	<ul class="toggle">
		<li class="icn_categories"><a href="/playuserlist.html">报名名单</a></li>
	</ul>
	<h3>新闻管理</h3>
	<ul class="toggle">
		<li class="icn_new_article"><a href="/newsadd.html">添加新闻</a></li>
		<li class="icn_categories"><a href="/newslist.html">管理新闻</a></li>    
	</ul>
	<h3>知识管理</h3>
	<ul class="toggle">
        <li class="icn_new_article"><a href="/seradd.html">添加知识</a></li>
		<li class="icn_categories"><a href="/serlist.html">管理知识</a></li>        
	</ul>
	<h3>产品管理</h3>
	<ul class="toggle">
	    <li class="icn_new_article"><a href="/proadd.html">添加产品</a></li>
		<li class="icn_categories"><a href="/prolist.html">管理产品</a></li>
	</ul>
	<h3>用户管理</h3>
	<ul class="toggle">
		<li class="icn_categories"><a href="/userlist.html">管理用户</a></li>
	</ul>
	<h3>留言管理</h3>
	<ul class="toggle">
		<li class="icn_categories"><a href="/meslist.html">留言管理</a></li>
	</ul>
	<h3>登陆管理</h3>
	<ul class="toggle">
		<li class="icn_jump_back"><a href="/logout.html">退出登录</a></li>
	</ul>
	
	<footer>
		
	</footer>
</aside><!-- end of sidebar -->